.dialog-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 25px;
    width: 500px;
}

.move-cb-btn {
    width: 100px;
    padding: 10px 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.226);
    cursor: pointer;
}

.btn-blue {
    background-color: #78C1FA;
    color: white;
}

.btn-purple {
    background-color: #8C5DCA;
    color: white;
}

.btn-green {
    background-color: #7BCC96;
    color: white;
}